body {
  background-color: #000000;
  background-image: url('../src/assets/image-background.png');
  height: 100vh;
  background-position: top;
  background-repeat: repeat;
  background-size: contain;
  @media screen and (max-width: 400px) {
    background-image: none;
  }
}

html {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3a3a3a;
  }

}